*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
EmbarkX-*.zip
/sample/ios/ios.xcodeproj/project.xcworkspace/xcuserdata/*


# Apollo related files
**/*.graphqls
